.innerdiv1{
   justify-content: space-around;
   display: flex;
   margin: "18px 0px";
   border-bottom: 1px solid grey;
   margin-top: 20px;
}

.gallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-top: 50px;
}

.mypic{
   width: 30%;
}